@import "./mixins/branch_merge";

.branch {
  position: relative;

  border-left: solid $stroke;
  padding-left: $width - $stroke;
  margin-bottom: $height;

  &::after {
    content: "";

    position: absolute;
    top: 100%;
    left: -$width;

    display: block;
    height: $height;

    background-repeat: no-repeat
  }

  @at-root body > .branch {
    margin-left: $width - $stroke;
  }
}

.merge {
  position: relative;

  margin-top: $height * 2;
  padding-left: $width - $stroke;

  &::before {
    content: "";

    position: absolute;
    bottom: 100%;
    left: -$width;

    display: block;
    height: $height;

    background-repeat: no-repeat;
  }
}
