@import "./settings";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body {
  max-width: 700px;
  margin: auto;
  padding: 0 16px;

  font-family: 'Open Sans', sans-serif;
  font-size: 300;
}

header {
  text-align: center;
}

h1,
h2 {
  display: inline-block;
  border-bottom: solid #ccc;
}

h1 {
  margin: auto;
  padding-bottom: 10px;

  font-weight: 700;
  border-bottom-width: 2px;
}

h2 {
  padding-bottom: 2px;
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 18px;
  border-bottom-width: 1px;
}

p {
  margin-top: 10px;
  font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;

  &:not(:first-of-type)::before {
    content: "\2022\A0";
  }

  + br {
    display: none;
  }
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.branch--skills {
  display: flex;

  li {
    flex: 1;
  }
}

.title {
  list-style: none;

  &__separator {
    display: none;
  }

  &__company,
  &__name {
    float: left;
    clear: left;
  }

  &__location,
  &__dates {
    float: right;
  }

  &__company,
  &__location {
    font-weight: 600;
    font-size: 16px;
  }

  &__name,
  &__dates {
    font-size: 13px;
  }

  &__name {
    text-transform: uppercase;
  }

  @at-root .branch--zla :not(:first-child) {
    .title__name,
    .title__dates {
      display: block;
      margin-top: 8px;
    }
  }
}

.branch {
  margin-bottom: 10px;

  .branch {
    page-break-inside: avoid;
  }
}

.commit {
  position: relative;
  clear: both;

  padding-left: 32px;
  margin-left: -16px;

  font-size: 12px;
  list-style: none;

  border-left: solid 1px;

  &::before {
    position: absolute;
    top: -5px;
    left: 16px;

    content: "\2022";
    font-size: 20px;
    height: 20px;
  }
}

@each $job, $color in $job-colors-light {
  .commit--#{$job}::before {
    color: $color;
  }

  .commit--#{$job} {
    border-color: $color;
  }
}

.branch--skills {
  border-left: solid 1px map-get($job-colors-light, skills);
  margin-left: -16px;
  padding-left: 16px;
}

.commit--skills {
  margin-left: 0;
  padding: 0 16px;

  border-left: none;

  &::before {
    left: 0;
  }
}
